.header {
    display: flex;
    justify-content: space-between;
}
.nav-links {
    display: flex;
    justify-content: space-around;
}

.github-icon {
    fill: #ffffffc4;
}

.linkedin-icon {
    fill: #0a66c2;
}

.email-icon {
    fill: #ea4335;
    color: #ea4335
}

a:visited {
    text-decoration: none;
    color: white;
}

/* .socials > a{
    border: 1px red solid;
    background-color: rgba(128, 128, 128, 0.258);
    border-radius: 30px;
} */

.socials > * {
    transition: all .2s;
    filter: grayscale(1);
}

.socials >*:hover {
    filter: none;
}

.github-icon:hover {
    transform: scale(1.2);
}

.linkedin-icon:hover {
    transform: scale(1.2);
}
.email-icon:hover {
    transform: scale(1.2);
}