.home {
  display: flex;
  justify-content: space-around;
  margin: 200px;
  font-size: 30px;
}

.about {
  width: 50%;
}

ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}